/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.worktrees
build_test/
build-tests/
docs/
.workbuddy/
scripts/
pivomic.cer
pivomic.csr
pivomicRelease.p7b
pivomic.p12
material/
icon_1024.png
icon_1024x1024.png
icon.png
.wechat-agent
.DS_Store
